<h2><%= @entry.title %></h2>
Author: <b><%= @entry.user.name %></b><br>
<i>Posted on: <b><%= @entry.created_at.strftime "%m/%d/%y" %></b> at
  <b><%= @entry.created_at.strftime "%H:%M" %></b></i><br>
<p><%= @entry.body %></p>

<h4>Comments:</h4>

<%= render @entry.comments.reject &:new_record? %>

<%= form_for @comment do |f| %>
  <%= f.text_field :content, placeholder: "Comment...", autofocus: true,
    autocomplete: :off %>
  <%= hidden_field_tag "comment[user_id]", current_user.id %>
  <%= hidden_field_tag "comment[entry_id]", @entry.id %>

  <%= f.submit "Comment" %>
<% end %>
